@{
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

@model PostCreateModel;

<div class="content-page-box-area">
            <div class="row">
                <div class="col-lg-3 col-md-12">



                    <aside id="indexProfileAsideDiv" class="widget-area">
                      
                    </aside>



                    <div class="card shadow-sm mb-3">
                        <div class="card-body bg-white">
                            <h3 class="card-title">Watch Video</h3>

                            <div id="videoDiv" class="watch-video-slides owl-carousel owl-theme">
                       
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="news-feed-area">
                        <div class="news-feed news-feed-form">
                            <h3 class="news-feed-title">Create New Post</h3>

                    <form id="createPostForm" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="@Model.Message">Message</label>
                            <textarea asp-for="@Model.Message" class="form-control" placeholder="Write something here..." rows="4"></textarea>
                        </div>

                        <div class="form-group">
                            <p style="color: black; padding-top: 20px;">Photo Url</p>
                            <label asp-for="@Model.Photo" id="ImageUrlLabel" style="position: relative; bottom: 10px; padding-bottom: 10px;">
                                @(Model.Photo?.FileName ?? "Image Not Selected")
                            </label>
                            <input asp-for="@Model.Photo" type="file" class="form-control-file" style="display: none;" onchange="updateLabel(this)">
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.VideoUrl">Video URL</label>
                            <input asp-for="@Model.VideoUrl" type="url" class="form-control" placeholder="Enter video URL (YouTube, etc.)">
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Tags">Tag Friends</label>
                            <input asp-for="@Model.Tags" type="text" class="form-control" placeholder="Enter tags, separated by commas">
                        </div>

                        <ul class="button-group d-flex justify-content-between align-items-center">
                            <li class="photo-btn">
                                <button type="button" onclick="document.getElementById('Photo').click();"><i class="flaticon-gallery"></i> Photo</button>
                            </li>
                            <li class="video-btn">
                                <button type="button" onclick="document.getElementById('VideoUrl').focus();"><i class="flaticon-video"></i> Video</button>
                            </li>
                            <li class="tag-btn">
                                <button type="button" onclick="document.getElementById('Tags').focus();"><i class="flaticon-tag"></i> Tag Friends</button>
                            </li>
                            
                            <li class="post-btn">
                                <button id="postButton" type="button" onclick="createPostFunction(event)" class="btn btn-primary">Post</button>
                            </li>
                        </ul>
                    </form>

                   
                   




                        </div>

                      <ul id="postsUl" style="list-style: none; ">
 
                      </ul>

                        <div class="load-more-posts-btn">
                            <a href="#"><i class="flaticon-loading"></i> Load More Posts</a>
                        </div>
                    </div>
                </div>

              
            </div>
        </div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
